/* https://colorhunt.co/palette/36477 */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #00e0ff;
    font-family: 'Barriecito', cursive;
}

main {
    display: grid;
    grid-template-columns: 800px 1fr;
}

h1 {
    text-transform: uppercase;
    font-size: 6em;
    text-align: center;
    color: #e8ffe8;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#spiced {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 150px;
    padding: 1vw;
    justify-self: end;
    align-self: start;
}

#timeleft {
    color: #a6fff2;
}

#restart {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
}

#next-question {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: end;
}

#player-pieces {
    margin-top: 5vh;
    padding: 0;
    font-size: 5em;
    list-style: none;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#player-pieces li {
    display: inline-block;
}



.selected {
    opacity: 0.2;
}

#selected {
    opacity: 1;
    background-color: #a6fff2;
    border-radius: 50%;
    transition: background-color 0.5s linear;
}

.user-piece {
    font-size: 3em;
    justify-self: center;
    align-self: center;
    grid-column: 2 / 3;
    grid-row:  1 / 2;
    justify-self: start;
    align-self: start;
    padding: 0.5vw;
}

#start {
    grid-column: 1 / 2;
    margin-top: 1vh;
    font-size: 4em;
    font-family: 'Barriecito', cursive;
    background-color: #a6fff2;
    color: #00e0ff;
    padding: 20px;
    border-radius: 2vw;;
    margin-bottom: 20px;
    text-transform: uppercase;
    cursor: pointer;
    place-self: center;
}

.quiz {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #e8ffe8;
    margin: 1vw;
    /* box-shadow: 1px 10px 15px 9px #74f9ff; */
    border-bottom: 3px solid #74f9ff;
    border-right: 3px solid #74f9ff;
}

.question {
    grid-column: 1/ -1;
    font-size: 50px;
    margin: 20px;
}

code {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-color: #151718;
    margin: 0 20px;
    color: #74f9ff;
    padding: 20px;
    font-size: 30px;
    white-space: pre;
}

.answer {
    margin: 10px 20px;
    padding: 10px;
    border: solid 2px #00e0ff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    padding: 20px;
}

.answer.wrong {
    background-color: orangered;
    transition: 600ms;
}


.answer:hover {
    background-color: #a6fff2;
    transition: 200ms;
}

.user-selected {
    background-color: #00e0ff;
    transition: 600ms;
}

.quiz #correct-answer {
    background-color: #00CE24;
    transition: 600ms;
}

.moving-piece {
    position: absolute;
    animation: fade 5s infinite;
    pointer-events: none;
}

.side-bar {
    display: grid;
}

.explanation {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    grid-column: 1 / -1;
}

.explanation summary {
    margin: 10px 0;
    font-size: 20px;
}

.explanation p {
    background-color: #a6fff2;
    font-size: 16px;
    padding: 20px;
    position: absolute;
}

.score-board {
    height: 200px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-flow: row dense;
    font-family: 'Raleway', sans-serif;
}

.table {
    background-color: #a6fff2;
    text-align: center;
    border-bottom: 2px solid #74f9ff;
    border-right: 2px solid #74f9ff;
}

.table-header {
    background-color: #e8ffe8;
    font-weight: bold;
}

.questions {
    align-self: center;
    padding: 10px;
    grid-column: 1 / 2;
}

.percentages {
    align-self: center;
    padding: 10px;
    grid-column: 2 / 3;
}

.winners {
    padding: 10px;
}



.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
